body { background: #de5445; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 31px; display: flex; }
.block-cluster-0 { color: #b0e5bb; font-size: 21px; margin-bottom: 5px; }
.block-sms-1 { color: #ea89d6; font-size: 21px; margin-bottom: 5px; }
.block-helper-2 { color: #df38f6; font-size: 20px; margin-bottom: 5px; }
.block-uploader-3 { color: #211ada; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #e9e69; font-size: 12px; margin-bottom: 5px; }